/* INICIO MAIN SERVICIOS */
main {
    .sectionColor {
        .container {
            .row {
                .div1Travel {
                    background-image: url("../img/cat.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 450px;
                }
                .animate__animated {
                    .h1Travel {
                        &:hover {
                        color: #6db3b4;
                        }
                    }
                }
            }
        }
    }
}

/* FIN MAIN SERVICIOS */